<header>
    <div class="header-left">
        <div class="logo">
            <a href="/">Book Werm</a>
        </div>
    </div>
    <div class="header-right">
        <div class="account-box">
            <div class="user-info">
                <div class="username"></div>
                <div class="logout-btn btn">Logout</div>
            </div>
        </div>
        <div class="main-nav">
            <ul>
                <li class="mi"><a class="mi-label" href="books.html">Library</a></li>
                <li class="mi"><a class="mi-label" href="entries.html">Reading Entries</a></li>
            </ul>
        </div>
    </div>
</header>