<header>
    <div class="header-left">
        <div class="logo">
            <a href="/">Book Werm</a>
        </div>
    </div>
    <div class="header-right">
        <div class="mobile-menu">
            <div class="mobile-nav-ctrl">
                <div class="nav-bar"></div>
                <div class="nav-bar"></div>
                <div class="nav-bar"></div>
            </div>
            <ul class="mobile-nav"></ul>
        </div>
        <div class="standard-menu">
            <div class="account-box">
                <div class="user-info">
                    <a class="username-link" href="/profile.html"><div class="username"></div></a>
                    <div class="logout-btn btn">Logout</div>
                </div>
            </div>
            <div class="main-nav">
                <ul>
                    <!-- @extendable -->
                </ul>
            </div>
        </div>
    </div>
</header>