@import "config/base-import";
@import "normalize";

html {
  height: 100%;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
}

header {
  display: flex;
  align-items: center;

  .header-left {
    flex: 1 0 auto;
  }

  .header-right {
    flex: 1 0 auto;
    display: flex;
  }

  .logo a {
    display: inline-block;
    font-family: $logo-font;
    font-size: 60px;
  }
}

form {
  input[type="submit"] {
    background-color: #0f4390;
    border: none;
    display: block;
    width: 100%;
    color: #fff;
    box-shadow: $basic-box-shadow;
    text-shadow: $basic-text-shadow;
  }
}

.btn {
  cursor: pointer;
  padding: 10px 15px;
}

.account-box {
  margin-left: auto;

  .user-info {
    display: flex;
    align-items: center;
  }

  .logout-btn {
    margin-left: 10px;

    &:after {
      content: "\f08b";
      @include fa-icon();
      margin-left: 12px;
    }
  }
}

.hidden {
  display: none!important;
}

.main-content {
  padding: 15px 20px;
}