@import "components/listing-styles";

.books {
  .book-author {
    .author-last {
      &:after {
        content: ",";
        display: inline;
      }
    }

    .author-last,
    .author-first {
      display: inline-block;
    }

    .attr-val {
      display: inline-block;
    }
  }
}