@import "config/base-import";

.main-content {
  text-align: center;
}

.auth-box {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #141414;
  min-width: 350px;

  .form-title {
    margin-bottom: 10px;

    h1 {
      margin: 0;
    }
  }

  form {
    display: inline-block;
  }

  .field {

    label {
    }

    input[type="text"],
    input[type="password"] {
      margin-left: 12px;
    }
  }
}

.auth-box-controls {
  margin-top: 10px;

  .btn {
    display: block;
    color: #1227ff;
    text-decoration: underline;
  }
}
