@import "config/base-import";

header {
  padding-top: 15px;
  padding-right: 15px;
  width: calc(100% - 30px);

  .logo {
    margin: 0 auto 7px;

    a {
      text-indent: 0;
      width: auto;
      text-align: center;

      &:after {
        display: none;
      }
    }
  }
}

.main-content {
  text-align: center;
  background-color: #f9f9f9;
  margin-top: 163px;
}

.auth-box {
  padding: 10px 15px;
  max-width: 350px;
  margin: 0 auto;

  .form-title {
    margin-bottom: 10px;

    h1 {
      margin: 0;
    }
  }

  form {
    display: inline-block;
  }
}

.auth-box-controls {
  margin-top: 10px;

  .text-btn {
    display: block;
    color: #1227ff;
    text-decoration: underline;
    margin: 0 auto;
  }
}

footer {
  justify-content: center;
}

@media(min-width: 410px) {
  .main-content {
    margin-top: 95px;
  }
}

@media (min-width: $bp-tablet) {
  .main-content {
    margin-top: 0;
  }

  .auth-box {
    display: inline-block;
    border: 1px solid #141414;
    min-width: 350px;
  }
}