$logo-font: "Lobster";
$ui-font: "Noto Sans";
$fa-font-path: "/resources/fonts";

$basic-box-shadow: 1px 1px 2px 1px rgba(64, 64, 64, 0.37);
$basic-text-shadow: 1px 1px 1px rgba(64, 64, 64, 0.37);

$color-almost-black: #1d1d1d;

$bp-tablet: 768px;