@import "../config/base-import";
@import "./widget";

.recently-added-widget {
  margin: 0 0 0 auto;

  .recently-added-books {
    padding: 0 0 0 21px;
    margin: 0;

    .book {
      padding: 5px;
    }

    .book-title {
      font-style: italic;
    }

    .book-title,
    .book-isbn,
    .book-author {
      display: block;
    }

    .book-info > * {
      & + * {
        margin-top: 8px;
      }
    }

  }
}

@media(min-width: $bp-tablet) {
  .recently-added-widget {
    max-width: 35%;
  }
}